body{
    background-color: #fdeee6; /* Provicial Pink */
    display: block;
    margin: auto;
}
form{
    display: block;
    width: 225px;
    margin: auto;
    background-color: #e7c3ac; /* Cashmere */
    padding: 25px 120px 25px 90px;
    border: 10px double #ffffff;
    font-size: 20px;
}
form input{
    width: 250px;
    height: 20px;
    display: block;
    margin-top: 5px;
}
#description{
    height: 50px;
}
select{
    margin-top: 5px;
}
#category{
    width: 260px;
    height: 28px;
}
#submit{
    background-color: #ffffff;
    display: block;
    width: 150px;
    height: 35px;
    margin-left: 50px;
    margin-right: auto;
    font-size: 15px;
    margin-top: 10px;
    padding: 3px 6px 3px 6px;
    text-align: center;
}

h1{
    color:#dbb396; /* Cameo */
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 2px #c9a087; /*sorrell brown/*
}