
body{
    background-color: #fdeee6; /* Provincial Pink */
    text-align: center;
    display: block;
    margin: auto;
}
.Logo img{
  object-fit: contain;
  height: 150px;
  max-width: 150px;
  padding-top: 15px;
}

a:link{
  text-decoration: none;
  color: #747c6f; /* camo green */
  font-size: 20px;
}
a:visited{
  text-decoration: none;
  color: #747c6f; /* camo green */
}
a:hover{
  text-decoration: none;
  color: #1c1a18; /* cod gray */
}
a:active{
  text-decoration: none;
  color: #747c6f; /* camo green */
}
.menu-bar{
  text-align: center;
  padding-top: 25px;
}
h1{
  color:#dbb396; /* Cameo */
  text-align: center;
  font-size: 60px;
  -webkit-text-stroke: 2px #c9a087;/* sorrel brown */
  margin-top: 5px;
  margin-bottom: 15px;
}
.container{
    padding-bottom: 50px;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3rem;
    border: 3px double white;
    background-color:  #e7c3ac; /* cashmere */
    height: fit-content;
    width: 70vw;
    max-width: 35rem;
    max-height: 22rem;
    color: #605952; /* soya bean */
}
#product-img{
  object-fit: cover;
  min-width: 200px;
  min-height: 150px;
}
.product{
  display: flex;
  flex-direction: row;
}
.product-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  font-size: 15px;
}
h2{
  font-size: 35px;
  margin-top: 0;
  color: #8e6045;
}
@keyframes fade-in{
  0%{
    opacity: 0;
    width: 50rem;
    height: 40rem;
  }
  50%{
    opacity: .15;
    /* width: 30rem;
    height: 30rem; */
  }
  80%{
    opacity: .5;
  }
  100%{
    opacity: 1;
    width: initial;
    height: initial;
  }
}
.product-card > *, 
.product > *,
.product-info > *,
.stats > *{
  animation: fade-in 1s linear 0s 1;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #8e6045 ;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.button-89:disabled{
  --_p: 0px;
  outline-color: #fdeee6;
  color: #fdeee6;
  background-color: var(--color);
  outline-offset: .05em;
}

.edit-delete{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 35rem;
  margin: auto;
}
.button{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8e6045;
  background-color: #ffffff;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: 0px 0px 0px 0px;
  background-color: #8e6045;
  color: #ffffff;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button{
    padding: 0.25em 0.75em;
  }
}
#delete-btn{
  color: #e7c3ac;
  background-color: #8e6045;
}
#delete-btn:hover{
  background-color: #1c1a18;
}