body{
    background-color: #fdeee6; /* Provincial Pink */
    text-align: center;
    display: block;
    margin: auto;
}
.menu-bar{
    text-align: center;
    padding-top: 50px;
    color: #747c6f; /* camo green */
}
.container{
    padding-bottom: 50px;
}
h1{
    color:#dbb396; /* Cameo */
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke: 2px #c9a087;/* sorrel brown */
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3rem;
    border: 3px double white;
    background-color:  #e7c3ac; /* cashmere */
    height: fit-content;
    width: 70vw;
    color: #605952; /* soya bean */
}
.product{
  display: flex;
  flex-direction: row;
}
.product-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
  font-size: 15px;
}
h2{
  font-size: 35px;
  margin-top: 0;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #605952;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.button-89:disabled{
  --_p: 0px;
  outline-color: #fdeee6;
  color: #fdeee6;
  background-color: var(--color);
  outline-offset: .05em;
}